@{
    ViewData["Title"] = "Attacker";
}
<h1 style="color:white;">@ViewData["Title"]</h1>
@model Ranbow.Controllers.MainModel

@using (Html.BeginForm("Attacker", "Ranbowmizer"))
{
    <input type="submit" value="Attack" id="submit" class="randomize-btn-image-atk" />
    @for (var i = 0; i < Model.Attackers.Count(); i++)
    {
        @Html.HiddenFor(m => Model.Attackers[i].ID)
        @Html.HiddenFor(m => Model.Attackers[i].IsSelected)
    }
    @for (var i = 0; i < Model.Defenders.Count(); i++)
    {
        @Html.HiddenFor(m => Model.Defenders[i].ID)
        @Html.HiddenFor(m => Model.Defenders[i].IsSelected)
    }
    @Html.HiddenFor(m => Model.GonneSixDisabled)

}
@using (Html.BeginForm("Defender", "Ranbowmizer"))
{
    <input type="submit" value="Defense" id="submit" class="randomize-btn-image-def" />
    @for (var i = 0; i < Model.Attackers.Count(); i++)
    {
        @Html.HiddenFor(m => Model.Attackers[i].ID)
        @Html.HiddenFor(m => Model.Attackers[i].IsSelected)
    }
    @for (var i = 0; i < Model.Defenders.Count(); i++)
    {
        @Html.HiddenFor(m => Model.Defenders[i].ID)
        @Html.HiddenFor(m => Model.Defenders[i].IsSelected)
    }
    @Html.HiddenFor(m => Model.GonneSixDisabled)
}
<p style="color:white;">Random Operator: @ViewBag.Random</p>
<p style="color:white;">Selected Primary: @ViewBag.Random.Primary1</p>
<ul style="color:white;">
    @if (ViewBag.Random.Primary1.Sights is not null)
    {
        <li>Selected Sight/Scope: @ViewBag.Random.Primary1.Sights.ToString().Replace("_", " ").Replace("point", ".")</li>
    }
    @if (ViewBag.Random.Primary1.Barrels is not null)
    {
        <li>Selected Barrel: @ViewBag.Random.Primary1.Barrels.ToString().Replace("_", " ")</li>
    }
    @if (ViewBag.Random.Primary1.Grips is not null)
    {
        <li>Selected Grip: @ViewBag.Random.Primary1.Grips.ToString().Replace("_", " ")</li>
    }
    <li>Laser: @ViewBag.Random.Primary1.Laser</li>
</ul>
<p style="color:white;">Selected Secondary: @ViewBag.Random.Secondary1</p>
<ul style="color:white;">
    @if (ViewBag.Random.Secondary1.Sights is not null)
    {
        <li>Selected Sight/Scope: @ViewBag.Random.Secondary1.Sights.ToString().Replace("_", " ").Replace("point", ".")</li>
    }
    @if (ViewBag.Random.Secondary1.Barrels is not null)
    {
        <li>Selected Barrel: @ViewBag.Random.Secondary1.Barrels.ToString().Replace("_", " ")</li>
    }
    @if (ViewBag.Random.Secondary1.Grips is not null)
    {
        <li>Selected Grip: @ViewBag.Random.Secondary1.Grips.ToString().Replace("_", " ")</li>
    }
    <li>Laser: @ViewBag.Random.Secondary1.Laser</li>
</ul>
<p style="color:white;">Selected Gadget: @ViewBag.Random.Gadget1</p>
@if (ViewBag.Description is not null)
{
    <p style="color:white;">Description: @ViewBag.Description</p>
}
