@{
    ViewData["Title"] = "Ranbow";
}
<h1 style="color: white;">@ViewData["Title"]</h1>
@model Ranbow.Controllers.MainModel
@using (Html.BeginForm("Attacker", "Ranbowmizer"))
{
    <input type="submit" value="Attack" id="submit" class="randomize-btn-image-atk" />

    <button type="button" class="collapsible">Open Attackers</button>
    <div class="content">
        <table style="color: white;">
            <tr>
                <th>Select</th>
                <th>Name</th>
                <th>Primary 1</th>
                <th>Primary 2</th>
                <th>Primary 3</th>
                <th>Secondary 1</th>
                <th>Secondary 2</th>
                <th>Secondary 3</th>
                <th>Gadget 1</th>
                <th>Gadget 2</th>
                <th>Description</th>
                <th>Side</th>
            </tr>
            @for (var i = 0; i < Model.Attackers.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(m => Model.Attackers[i].ID)
                        @Html.CheckBoxFor(m => Model.Attackers[i].IsSelected)
                    </td>
                    <td>@Html.DisplayFor(m => Model.Attackers[i].Name)</td>
                    <td>@Html.DisplayFor(m => Model.Attackers[i].Primary1.Name)</td>
                    <td>@Html.DisplayFor(m => Model.Attackers[i].Primary2.Name)</td>
                    <td>@Html.DisplayFor(m => Model.Attackers[i].Primary3.Name)</td>
                    <td>@Html.DisplayFor(m => Model.Attackers[i].Secondary1.Name)</td>
                    <td>@Html.DisplayFor(m => Model.Attackers[i].Secondary2.Name)</td>
                    <td>@Html.DisplayFor(m => Model.Attackers[i].Secondary3.Name)</td>
                    <td>@Html.DisplayFor(m => Model.Attackers[i].Gadget1.Name)</td>
                    <td>@Html.DisplayFor(m => Model.Attackers[i].Gadget2.Name)</td>
                    <td>@Html.DisplayFor(m => Model.Attackers[i].Description)</td>
                    <td>@Html.DisplayFor(m => Model.Attackers[i].Side)</td>
                </tr>
            }
        </table>
    </div>
    <table>
        <tr>
            <td>
                @Html.CheckBoxFor(m => Model.GonneSixDisabled)
            </td>
            <td style="color: white;">
                Disable GONNE-6
            </td>
        </tr>
    </table>
    @for (var i = 0; i < Model.Defenders.Count(); i++)
    {
        @Html.HiddenFor(m => Model.Defenders[i].ID)
        @Html.HiddenFor(m => Model.Defenders[i].IsSelected)
    }
}
@using (Html.BeginForm("Defender", "Ranbowmizer"))
{
    <input type="submit" value="Defense" id="submit" class="randomize-btn-image-def" />

    <button type="button" class="collapsible">Open Defenders</button>
    <div class="content">
        <table style="color: white;">
            <tr>
                <th>Select</th>
                <th>Name</th>
                <th>Primary 1</th>
                <th>Primary 2</th>
                <th>Primary 3</th>
                <th>Secondary 1</th>
                <th>Secondary 2</th>
                <th>Secondary 3</th>
                <th>Gadget 1</th>
                <th>Gadget 2</th>
                <th>Description</th>
                <th>Side</th>
            </tr>
            @for (var i = 0; i < Model.Defenders.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(m => Model.Defenders[i].ID)
                        @Html.CheckBoxFor(m => Model.Defenders[i].IsSelected)
                    </td>
                    <td>@Html.DisplayFor(m => Model.Defenders[i].Name)</td>
                    <td>@Html.DisplayFor(m => Model.Defenders[i].Primary1.Name)</td>
                    <td>@Html.DisplayFor(m => Model.Defenders[i].Primary2.Name)</td>
                    <td>@Html.DisplayFor(m => Model.Defenders[i].Primary3.Name)</td>
                    <td>@Html.DisplayFor(m => Model.Defenders[i].Secondary1.Name)</td>
                    <td>@Html.DisplayFor(m => Model.Defenders[i].Secondary2.Name)</td>
                    <td>@Html.DisplayFor(m => Model.Defenders[i].Secondary3.Name)</td>
                    <td>@Html.DisplayFor(m => Model.Defenders[i].Gadget1.Name)</td>
                    <td>@Html.DisplayFor(m => Model.Defenders[i].Gadget2.Name)</td>
                    <td>@Html.DisplayFor(m => Model.Defenders[i].Description)</td>
                    <td>@Html.DisplayFor(m => Model.Defenders[i].Side)</td>
                </tr>
            }
        </table>
    </div>
    @Html.HiddenFor(m => Model.GonneSixDisabled)
    @for (var i = 0; i < Model.Attackers.Count(); i++)
    {
        @Html.HiddenFor(m => Model.Attackers[i].ID)
        @Html.HiddenFor(m => Model.Attackers[i].IsSelected)
    }
}

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
</script>